.breif-description {
    display: flex;
    align-items: center;
    margin-bottom: 100px !important;

    .breif-items {
        flex: 1;
    }

    .breif-image {
        flex: 1;
        
        img {
            max-height: 300px;
            border: 5px solid rgb(255, 68, 0);
        }
    }

}

.practice {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 10px;
    align-items: stretch;
    justify-content: space-between;

    &__item {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #222;
        padding: 40px 30px 40px;
        border: 1px solid #222;
        width: calc(33% - 24px);
        margin-bottom: 40px;

        .item-title {
            font-size: 24px;
            line-height: 1.3em;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .title-subtext {
            font-size: 14px;
        }
    }

    &__item:hover {
        background-color: #ff4400;
        color: white;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 80px;
    text-align: center;
    background-image: url(../../img/law6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    &__title {
        h2 {
            font-size: 30px;
            font-weight: bold;
        }
    }

    &__description {
        width: 500px;
    }
}

.sliderText {
    font-size: 40px !important;
}

.main-section {
    margin-bottom: 0 !important;
}

.form {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;

    .form-content {
        width: 50%;

        h3 {
            text-align: center;
            font-size: 2.5rem !important;
            font-weight: 600 !important;
            margin-bottom: 20px;
        }

        .form-row {
            display: flex;
            margin-bottom: 30px;

            label {
                display: flex;
                flex-direction: column;
                flex: 1;

                input {
                    padding: 10px;
                    border: 1px solid #222;
                    font-size: 15px;
                }
            }

            label:not(:last-child) {
                margin-right: 50px;
            }
        }

        .userText {
            textarea {
                width: 100%;
                border: 1px solid #222;
            }
        }
    }
}